* {
    font-family: 'Gaegu', cursive;
    font-size: 20px;
    font-weight: bold;


}

h1,
h2{
    color: rebeccapurple;
    font-size: 60px;
    background-color: rgba(255, 255, 255, 0.3);
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.innerCards {
    background-color: #3eb5ff;
}

#dayOne {
    background-color: #64ffe1;
}


#days {
    opacity: 0.75;

}

#tempToday {
    font-size: larger;
}