* {
    font-family: 'Gaegu', cursive;
    font-size: 20px;

}

h1{
    color: rebeccapurple;
    font-size: 60px;
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.innerCards {
    background-color: #0f6674;
}

#dayOne {
    background-color: #64ffe1;

}